
.container {
    margin-top: 50px;
    display: flex;
    flex: 1;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.scroll-column {
    flex: 1;
}

.sub-title {
    margin-top: 200px;
    color: darkblue;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.portal-info {
    color: darkblue;
    margin-top: 0px;
    font-size: 25px;
    text-align: center;
}

.list-options {
    background-color: lightblue;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
}

.btn-layout {
    width: 350px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-color: rgb(0, 35, 100);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.btn-text {
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
}

