body {
    background-image: url("thumbnails/weblayout_bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}


.title {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: rgb(210, 240, 210);
    color: wheat;
    height: 150px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

.school-logo {
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 20px;
}

.title-name {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}



