
.container {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.scroll-column {
    flex: 1;
}

.list-options {
    background-color: lightblue;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.btn-layout {
    display: grid;
    grid-template-columns: 150px 500px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-color: rgb(0, 35, 100);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.btn-icons {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.module-txt {
    margin-top: 20px;
    font-size: 35px;
}
